<!doctype html>
<html lang="zh">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=0">
        <!-- Bootstrap CSS -->
        <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> -->
        <link href="https://cdn.bootcss.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
        <style>
            canvas{
                -moz-user-select: none;
                -webkit-user-select: none;
                -ms-user-select: none;
            }
            ul.selector{
                list-style-type:none;
                margin:0;
                padding:0;
            }
            li.selector{
                float: right;
            }
            button.selector{
                background-color: rgb(76, 83, 175); 
                border: none;
                color: white;
                padding: 1px 5px;
                margin: 0px 1px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 10px;
                width: 40px;
            }
            .p-footer {
                color: grey;
                font-size: 10px;
            }
            .alert-prompt {
                display: none;
                position: fixed;
                top: 50%;
                left: 50%;
                min-width: 300px;
                max-width: 600px;
                transform: translate(-50%,-50%);
                z-index: 99999;
                text-align: center;
                padding: 15px;
                border-radius: 3px;
            }

            .alert-success-prompt {
                color: #3c763d;
                background-color: #dff0d8;
                border-color: #d6e9c6;
            }

            .alert-info-prompt {
                color: #31708f;
                background-color: #d9edf7;
                border-color: #bce8f1;
            }

            .alert-warning-prompt {
                color: #8a6d3b;
                background-color: #fcf8e3;
                border-color: #faebcc;
            }

            .alert-danger-prompt {
                color: #a94442;
                background-color: #f2dede;
                border-color: #ebccd1;
            }
        </style>
        <title>黄金点游戏</title>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col game-info">
                    <div class="alert alert-info" role="alert">
                        <h4 class="alert-heading">黄金点游戏 <a class="fas fa-chevron-down" data-toggle="collapse" href="#crules" role="button" aria-expanded="false" aria-controls="crules"></a></h4>
                        <div class="collapse multi-collapse" id="crules">
                            <p>N 个玩家，每人写 2 个 0~100 之间的有理数(不包括 0 或 100 )，提交给服务器，服务器在当前回合结束时算出所有数字的平均值，然后乘以 0.618（所谓黄金分割常数），得到 G 值。提交的数字最靠近 G（取绝对值）的玩家得到 N-2 分，离 G 最远的玩家得到 -2 分，其他玩家得 0 分。</p>
                        <!-- </div> -->
                        <hr>
                        <div id='login-panel'>
                            <input type='text' class='form-control' placeholder="用户名" name="username">
                            <button id='loginBtn' class="btn btn-primary btn-block">登录</button>
                        </div>
                        <div id='user-info' style="display: none">
                            <div class='row'>
                                <div class='col'>
                                    <p id='pUsername'></p>
                                </div>
                                <div class='col'>
                                    <button id='logoutBtn' class="btn btn-primary btn-block">注销</button>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div id='setRoom-panel'>
                            <div class="row">
                                <div class="col">
                                    <input type='text' class='form-control' placeholder="房间号" name="roomid">
                                </div>
                                <div class="col">
                                    <button id='setRoomBtn' class="btn btn-primary btn-block">进入房间</button>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="player-panel">
                <div class="row">
                    <div class="col">
                        <div class="row" style="margin-left:2px">
                            <p>当前房间：</p>
                            <p id="pRoomid"></p>
                        </div>
                    </div>
                    <div class="col">
                        <div class="row">
                            <p>距本回合结束还有：</p>
                            <p id="remainTime">00:00</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <input type="text" class="form-control" placeholder="你的数字1" name="num1">
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <input type="text" class="form-control" placeholder="你的数字2" name="num2">
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <button id="submitNumBtn" type="button" class="btn btn-success btn-block">提交</button>
                    </div>
                </div>
            </div>
            <hr>
            <div class="data-charts">
                <div class="row">
                    <div class="col">
                        <ul class="selector">
                            <li class="selector"><button class="selector" id="setLenBtn1">10</button></li>
                            <li class="selector"><button class="selector" id="setLenBtn2">30</button></li>
                            <li class="selector"><button class="selector" id="setLenBtn3">100</button></li>
                            <li class="selector"><button class="selector" id="setLenBtn4">全部</button></li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div style="width:100%;" id="historyDiv">
                            <canvas id="historyChart"></canvas>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col">
                        <div style="height:200px;" id="rankDiv">
                            <canvas id="rankChart"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer">
                <div class="row" style="margin-top:50px">
                    <div class="col">
                        <p align="center" class="p-footer"><a href="https://njumsc.github.io/" target="view_window">南京大学微软学生俱乐部</a></p>
                    </div>
                </div>
                <div class="row" style="margin-top: -10px">
                    <div class="col">
                        <p align="center" class="p-footer"><a href="https://github.com/Botbattle-net" target="view_window">BOTBattle.net</a> 项目组 出品</p>
                    </div>
                </div>
                <div class="row" style="margin-top: -10px">
                    <div class="col">
                        <p align="center" class="p-footer">献给最棒的 NJUMSC 和最可爱的雯韵小姐姐</p>
                    </div>
                </div>
            </div>
        </div>

        
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <!-- <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script> -->
        <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <!-- <script src="https://cdn.bootcss.com/popper.js/1.14.3/popper.min.js"></script> -->
        <!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script> -->
        <script src="https://cdn.bootcss.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
        <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js" integrity="sha256-J2sc79NPV/osLcIpzL3K8uJyAD7T5gaEFKlLDM18oxY=" crossorigin="anonymous"></script> -->
        <script src="https://cdn.bootcss.com/Chart.js/2.7.2/Chart.min.js"></script>
        <script type='text/javascript'>
            function setCookie(key, value, iDay) {
                var oDate = new Date();
                oDate.setDate(oDate.getDate() + iDay);
                document.cookie = key + '=' + value + ';expires=' + oDate;
            }
            function removeCookie(key) {
                setCookie(key, '', -1)
            }
            function getCookie(key) {
                var cookieArr = document.cookie.split('; ');
                for (var i = 0; i < cookieArr.length; i++) {
                    var arr = cookieArr[i].split('=');
                    if (arr[0] === key) {
                        return arr[1];
                    }
                }
                return false;
            }
            function Timer(time) {
                var timer = null;
                var t = time;
                var m = 0;
                var s = 0;
                m = Math.floor(t / 60 % 60);
                m < 10 && (m = '0' + m);
                s = Math.floor(t % 60);
                function countDown() {
                    s--;
                    s < 10 && (s = '0' + s);
                    if (s.length >= 3) {
                        s = 59;
                        m = "0" + (Number(m) - 1);
                    }
                    if (m.length >= 3) {
                        m = '00';
                        s = '00';
                        clearInterval(timer);
                    }
                    $('#remainTime').html(m+":"+s)
                    if (m == 0 && s == 0){
                        clearInterval(timer);
                        // console.log("cleared");
                        refreshStatus();
                    }
                }
                timer = setInterval(countDown, 1000);
                // console.log("start timer " + time);
            }
            var historyData = {
                type: 'line',
                data: {
                    labels: ['1', '2', '3'],
                    datasets: [{
                        label: '黄金点',
                        backgroundColor: 'rgb(255, 99, 132)',
                        borderColor: 'rgb(255, 99, 132)',
                        data: [32.7, 19.3, 10.4],
                        fill: false,
                    }]
                },
                options: {
                    legend: false,
                    responsive: true,
                    title: {
                        display: true,
                        text: '黄金点历史'
                    },
                    tooltips: {
                        mode: 'index',
                        intersect: true
                    },
                    scales: {
                        xAxes: [{
                            display: true,
                            scaleLabel: {
                                display: true,
                                labelString: '回合数'
                            }
                        }],
                        yAxes: [{
                            display: true,
                            scaleLabel: {
                                display: true,
                                labelString: '数值'
                            },
                            ticks: {
                                suggestedMin: 0,
                                suggestedMax: 20,
                            }
                        }]
                    }
                },
                customOption: {
                    amount: 10,
                    history: []
                }
            };
            var rankData = {
                type: 'horizontalBar',
                data: {
                    labels: ['homo', 'van', 'billy', 'banana'],
                    datasets: [{
                        label: '分数',
                        backgroundColor: 'rgb(0, 123, 255)',
                        borderColor: 'rgb(0, 123, 255)',
                        data: [107, 35, 1, -10],
                        fill: false,
                    }]
                },
                options: {
                    elements: {
                        rectangle: {
                            borderWidth: 2,
                        }
                    },
                    maintainAspectRatio: false,
                    responsive: true,
                    legend: false,
                    title: {
                        display: true,
                        text: '排行榜'
                    },
                    scales: {
                        xAxes: [{
                            display: true,
                            scaleLabel: {
                                display: true,
                                labelString: '分数'
                            },
                            ticks: {
                                suggestedMin: 0,
                                suggestedMax: 20,
                            }
                        }],
                        yAxes: [{
                            display: true,
                            scaleLabel: {
                                display: false,
                                labelString: '用户名'
                            },
                        }]
                    }
                },
                customOption: {
                    lastLength: 4,
                    lastScore: 0
                }
            };
            function refreshHistory(){
                var len = historyData.customOption.history.length;
                var i = 0;
                var i_start = historyData.customOption.amount;
                if (i_start >= len || i_start == 0){
                    i_start = 0;
                }else{
                    i_start = len - i_start;
                }
                historyData.data.labels = [];
                historyData.data.datasets[0].data = [];
                for (i = i_start; i < len; i++){
                    historyData.data.labels.push(i + 1);
                    historyData.data.datasets[0].data.push(historyData.customOption.history[i]);
                }
                // prompt_info("Last goldennum:"+historyData.customOption.history[len-1], 2000);
                window.myLineHistory.update();
            }
            function refreshRank(scores){
                let userCount = Object.keys(scores).length;
                rankData.data.labels = [];
                rankData.data.datasets[0].data = [];
                for (let [name, score] of Object.entries(scores).sort((a, b) => b[1] - a[1])){
                    rankData.data.labels.push(name);
                    rankData.data.datasets[0].data.push(score);
                }
                if (rankData.customOption.lastLength == userCount){
                    window.myLineRank.update();
                } else {
                    rankData.customOption.lastLength = userCount;
                    $("#rankDiv").attr("style", `height: ${50 * userCount}px`)
                    window.myLineRank.destroy();
                    let ctxRank = document.getElementById('rankChart').getContext('2d');
                    window.myLineRank = new Chart(ctxRank, rankData);
                }
                let scoreLast = scores[getCookie('username')];
                if (scoreLast != 0) {
                    prompt_info(`你在上回合获得了 ${scoreLast - rankData.customOption.lastScore} 分. 当前总分 ${scoreLast} 分.`, 2000);
                    rankData.customOption.lastScore = scoreLast;
                }
            }
            function refreshStatus() {
                let roomid = getCookie("roomid");
                let json = { "roomid": roomid }
                $.get("roomStatus/", json, function(data, status) {
                    if (data == "on") {
                        $.get("getStatus/", json, function(data, status) {
                            let json = JSON.parse(data);
                            // console.log(json);
                            if (json.status == "success") {
                                historyData.customOption.history = json.history.goldenNums;
                                refreshHistory();
                                refreshRank(json.scores);
                                Timer(json.time + 1);
                            } else {
                                console.log(json.status);
                                prompt_fail("未知错误, 尝试重连至服务器", 5000);
                                Timer(7);
                            }
                        })
                    }
                })
            }
            $(document).ready(function() {
                $.get('userStatus/', function(data, status){
                    if (data != "No User Log In"){
                        $('#pUsername').html("当前登陆：" + data)
                        $('#login-panel').css("display", "none")
                        $('#user-info').css("display", "block")
                        setCookie("username", data, 1);
                    }
                })
                $('#pRoomid').html(getCookie('roomid'))
                var ctxHistory = document.getElementById('historyChart').getContext('2d');
                window.myLineHistory = new Chart(ctxHistory, historyData);
                var ctxRank = document.getElementById('rankChart').getContext('2d');
                window.myLineRank = new Chart(ctxRank, rankData);
                Timer(1);
            })
            function tryChgLen(len){
                historyData.customOption.amount = len;
                refreshHistory();
                // console.log("set " + len);
            }
            $('#setLenBtn1').click(
                function tryChg(){
                    tryChgLen(10);
                }
            )
            $('#setLenBtn2').click(
                function tryChg(){
                    tryChgLen(30);
                }
            )
            $('#setLenBtn3').click(
                function tryChg(){
                    tryChgLen(100);
                }
            )
            $('#setLenBtn4').click(
                function tryChg(){
                    tryChgLen(0);
                }
            )
            $('#setRoomBtn').click(
                function trySetRoom() {
                    var roomid = $('input[name="roomid"]').val();
                    var json = {"roomid":roomid}
                    // console.log(roomid);
                    $.get('roomStatus/', json, function(data, status){
                        if (data == "on"){
                            setCookie('roomid', roomid, 1);
                            $('#pRoomid').html(roomid)
                            prompt_success("成功加入房间", 2000);
                            location.reload();
                        }else{
                            prompt_fail("房间已关闭", 2000);
                        }
                    })
                }
            )
            $('#loginBtn').click(
                function tryLogin() {
                    var uname = $('input[name="username"]').val();
                    var json = {"name":uname}
                    // console.log(json);
                    $.get('userReg/',json,function(data,status){
                        // console.log(data);
                        if (data == "User register success" || data == "User login success"){
                            setCookie("username", data, 1);
                            $('#pUsername').html("当前登陆：" + uname)
                            $('#login-panel').css("display", "none")
                            $('#user-info').css("display", "block")
                        }
                        switch(data){
                            case "User exist":
                                prompt_info("用户已存在", 2000);
                                break;
                            case "User login success":
                                prompt_success("登陆成功", 2000);
                                break;
                            case "User register success":
                                prompt_success("注册成功", 2000);
                                break;
                            case "You have logged in":
                                prompt_info("已经登陆, 如需再登陆, 尝试注销", 2000);
                                break;
                            default:
                                prompt_fail(data, 2000);
                        }
                    })
                }
            )
            $('#logoutBtn').click(
                function tryLogout() {
                    $.get('userOut/', function(data, status){
                        removeCookie("username");
                        switch(data){
                            case "No login":
                                prompt_fail("未登录, 请先登录再注销", 2000);
                                break;
                            case "Logout success":
                                prompt_success("注销成功", 2000);
                                break;
                            default:
                                console.log(data);
                                prompt_fail("未知错误", 2000);
                        }
                    })
                    $('#pUsername').html("")
                    $('#login-panel').css("display", "block")
                    $('#user-info').css("display", "none")
                }
            )
            $('#submitNumBtn').click(
                function sumbitNum(){
                    var num1 = $('input[name="num1"]').val();
                    var num2 = $('input[name="num2"]').val();
                    var roomid = getCookie("roomid");
                    var json = {"roomid":roomid,"num1":num1,"num2":num2}
                    // console.log(json);
                    $.get('userAct/',json,function(data,status){
                        switch(data){
                            case "Numbers overflow":
                                prompt_fail("数字溢出, 请检查范围", 2000);
                                break;
                            case "Upload success":
                                prompt_success("提交成功", 2000);
                                break;
                            case "No login":
                                prompt_fail("未登录, 请先登录", 2000);
                                break;
                            default:
                                prompt_fail(data, 2000);
                        }
                    })
                }
            )
            var prompt = function (message, style, time){
                style = (style === undefined) ? 'alert-success' : style;
                time = (time === undefined) ? 1200 : time;
                $('<div>')
                    .appendTo('body')
                    .addClass('alert-prompt ' + style)
                    .html(message)
                    .show()
                    .delay(time)
                    .fadeOut();
            };

            var prompt_success = function(message, time)
            {
                prompt(message, 'alert-success-prompt', time);
            };
            var prompt_fail = function(message, time){
                prompt(message, 'alert-danger-prompt', time);
            };
            var prompt_warning = function(message, time){
                prompt(message, 'alert-warning-prompt', time);
            };

            var prompt_info = function(message, time){
                prompt(message, 'alert-info-prompt', time);
            };
        </script>
    </body>
</html>
