.row{
    margin-top: 4px;
    margin-bottom: 4px;
}
canvas{
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
ul.selector{
    list-style-type:none;
    margin:0;
    padding:0;
}
li.selector{
    float: right;
}
button.selector{
    background-color: rgb(76, 83, 175);
    border: none;
    color: white;
    padding: 1px 5px;
    margin: 0px 1px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    width: 40px;
}
.p-footer {
    color: grey;
    font-size: 10px;
}
.alert-prompt {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 300px;
    max-width: 600px;
    transform: translate(-50%,-50%);
    z-index: 99999;
    text-align: center;
    padding: 15px;
    border-radius: 3px;
}

.alert-success-prompt {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.alert-info-prompt {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.alert-warning-prompt {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}

.alert-danger-prompt {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}
